@media (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }

  .child {
    width: 30%;
  }
  .child:first-child{
        width: 70%;
    }
}

@media (max-width: 600px) {
  .bar {
    display: block;
    margin-right: 30px;
  }
  .navigation {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: end;
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .child{
   width: 80%;
  }
  .child:first-child{
        width: 80%;
    }
}
